<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715486899981-pmvfbi4jdp532iafm1vcohpc6ioarami.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715486899981-pmvfbi4jdp532iafm1vcohpc6ioarami</string>
	<key>API_KEY</key>
	<string>AIzaSyAEJ9TdssHjE3q-45l_vZFLtxbTFa9PK_I</string>
	<key>GCM_SENDER_ID</key>
	<string>715486899981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.pokeApp</string>
	<key>PROJECT_ID</key>
	<string>pokeapi-c5a56</string>
	<key>STORAGE_BUCKET</key>
	<string>pokeapi-c5a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715486899981:ios:acda7c04a39d7ec7c04a44</string>
	<key>DATABASE_URL</key>
	<string>https://pokeapi-c5a56.firebaseio.com</string>
</dict>
</plist>